
@mixin font {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
}
@mixin status {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
}
body {
    margin: 0;
}
.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(62, 89, 146);
    position: fixed;
    z-index: 2;
    margin: 0;
    .header {
        width: 750px;
        background-color: rgb(62, 89, 146);
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        margin: 10px auto;
        padding: 2px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
            select {
                width: 200px;
                height: 20px;
                margin: 0;
                border: none;
            }
            .showResults {
                width: 100px;
                height: 20px;
                color: black;
                border: none;
                position: relative;
                right: 440px;
                cursor: pointer;
            }
        }
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    overflow: -webkit-paged-Y;
    background-image: url("rocket.jpg");
    .cards {
        width: 750px;
        height: 100vh;
        background-color: rgba(233,237,222, 0.3);
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 150px;
        top: 50px;
        margin: 0 auto;
        justify-content: space-evenly;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        overflow: scroll;
        .card {
            @include font;
            width: 300px;
            height: 250px;
            background-color: rgba(227, 230, 199, 0.8);
            margin: 15px;
            padding: 2%;
            .green {
                @include status;
                color: #00cc00;
            }
            .red {
                @include status;
                color: #cf5a5a;
            }
            .yellow {
                @include status;
                color: #ff9900;
            }
            button {
                border: none;
                cursor: pointer;
                position: relative;
                color: white;
                height: 30px;
                width: 97%;
                left: 50%;
                transform: translateX(-50%);
                background-color: rgb(62, 89, 146);
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                -webkit-box-shadow: 25px 24px 36px -28px rgba(0,0,0,0.75);
                -moz-box-shadow: 25px 24px 36px -28px rgba(0,0,0,0.75);
                box-shadow: 25px 24px 36px -28px rgba(0,0,0,0.75);
            }
        }
    }
}

.disactivate {
width: 750px;
height: 100vh;
background: rgba(71, 107, 107, 0.5);
margin: 0;
position: fixed;
left: 50%;
transform: translateX(-50%);
top: 50px;
z-index: 3;
    .popup {
        width: 550px;
        height: auto;
        background-color: rgb(62, 89, 146);
        z-index: 3;
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        div {
            @include font;
            color: white;
            width: 80%;
            height: 100%;
            padding: 1%;
            img {
                width: 100px;
                height: 100px;
                position: relative;
                right: -50%;
            }
        }
       button {
           position: absolute;
           top: 2%;
           right: 2%;
           background-color: rgb(227,230,199);
           border: none;
           cursor: pointer;
       }
    }
  }
  .none {
      display: none;
  }
  @media (max-width: 425px) {
      .navbar .header {
          width: 350px;
          .showResults {
              right: 44px;
          }
      }
      .wrapper .cards {
          width: 350px;
      }
      .disactivate {
          width: 350px;
          .popup {
              padding: 1%;
              top: 15%;
              width: 300px;
              img {
                  transform: translateX(-20%);
              }
          }
      }
  }
  @media (max-width: 320px) {
      .navbar .header {
          padding: 5px 4%;
          width: 300px;
          select {
              width: 180px;
          }
          .showResults {
              width: 100px;
              right: 0;
          }
      }
      .wrapper .cards {
          width: 300px;
      }
      .disactivate {
        width: 300px;
        .popup {
            padding: 1%;
            top: 15%;
            width: 250px;
            img {
                transform: translateX(-20%);
            }
        }
    }
  }
